tensorflow=1.12.0
keras
autovar==0.0.1a0
cleverhans==3.0.1
cvxopt==1.2.3
cvxpy==1.0.21
Cython==0.29.5
ipython==7.2.0
joblib==0.13.1
jsonschema==2.6.0
jupyter==1.0.0
matplotlib==3.0.2
metric-learn==0.4.0
mkdir-p==0.1.1
mkl==2019.0
mnist==0.2.2
notebook==5.7.4
numpy==1.16.1
pandas==0.24.1
plotly==3.6.1
progressbar33==2.4
scipy==1.2.1
urllib3==1.24.1
