tensorflow==1.12.0
keras
autovar==0.0.1a3
cleverhans==3.0.1
cvxopt==1.2.3
cvxpy==1.0.21
Cython==0.29.5
joblib==0.13.1
jupyter==1.0.0
matplotlib==3.0.2
mkdir-p==0.1.1
mnist==0.2.2
numpy==1.16.1
pandas==0.24.1
scipy==1.2.1
tqdm
